footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-icon {
    color: #fff;
    font-size: 26px;
    margin: 10px;
    text-decoration: none;

}

.fa-brands{
    transition: color 0.3s ease;
}

.fa-facebook:hover {
    color: #007bff;
}

.fa-instagram:hover{
    color: #f83376;
}

.fa-twitter:hover{
    color: #2f9aea;
}

.fa-snapchat:hover{
    color: #fffb00;
}


.footer-heading {
    margin-top: 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
}

.footer-subheading {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    font-family: 'Bricolage Grotesque', sans-serif;
}
