/* Style first condition */
.success-content{
    margin: 46px 0 87px;
}

.success-header{
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.success-subheader{
    text-align: center;
    font-size: 28px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.condition-element{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.condition-element img{
    width: 110px;
    margin-right: 10px;
}

.success-smallhead{
    margin-left: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

.success-content a{
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 105px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    transition: color 0.3s ease;
}

.success-content a:hover{
    background-color: #0056b3;
}

/* Style second condition */
.success-weather{
  display: flex;
  justify-content: center;
}

.elements-weather{
  margin: 10px 40px;
  padding: 8px 24px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 178px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;;
}

.date{
  margin-top: 10px;
  font-family: 'Kanit', sans-serif;
  font-size: 22px;
}

.condition{
  margin: 0 0 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 17px;
}
