{% include 'header.html' %}

<section class="about-section">
    <div class="about-content">
        <h2>Who are we?</h2>
        <p>Hello and welcome to our Weather App! We're a passionate team of weather enthusiasts who believe that
            accurate and timely weather information is essential for making informed decisions in our daily lives.</p>

        <p>Our journey began with Bahae Ddine Assaoui, a dedicated computer science student who saw the potential to
            combine technology and meteorology. With a vision to provide a reliable tool that helps people prepare for
            the day ahead, Bahae embarked on the journey of creating this Weather App.</p>

        <p>Our app isn't just about numbers and forecasts; it's about empowering you. We understand that weather affects
            our plans, activities, and even moods. That's why we've designed our app to be user-friendly and intuitive,
            ensuring that you can access the information you need quickly and easily.</p>

        <p>Behind the scenes, our team works diligently to gather and deliver real-time weather data from trusted
            sources. We continuously update and refine our algorithms to provide accurate forecasts, giving you the
            confidence to make plans with certainty.</p>

        <p>But we're not stopping here. Our commitment to improvement drives us forward. We're dedicated to enhancing
            our app's features, expanding our coverage, and integrating user feedback to create an even better
            experience for you.</p>

        <p>As we continue on this exciting journey, we're grateful to have you as part of our community. Your support,
            trust, and feedback motivate us to push the boundaries of what our Weather App can achieve.</p>

        <p>Thank you for choosing us as your go-to source for weather information. We're excited to help you face the
            elements with confidence and be better prepared for whatever the day brings.</p>

    </div>
</section>


{% include 'footer.html' %}
