{% include 'header.html' %}

<section class="team-section">
    <h2 class="section-title">Our Team</h2>
    <div class="team-member">
        <img src="static/team_members/gon.jpg" alt="Team Member">
        <h3 class="member-name">Gon Freecss</h3>
        <p class="member-role">Tester & Fighter</p>
    </div>
    <div class="team-member ceo">
        <img src="static/team_members/coder.png" alt="Team Member">
        <h3 class="member-name">Bahae Assaoui</h3>
        <p class="member-role">Founder & Software Engineer</p>
    </div>
    <div class="team-member">
        <img src="static/team_members/thomas.jpg" alt="Team Member">
        <h3 class="member-name">Tommy Shelby</h3>
        <p class="member-role">Co-Founder & Mafia Member</p>
    </div>
</section>


{% include 'footer.html' %}
